angular.json
/dist

package.json
*.lock

**/*.svg
.DS_Store

docker
Dockerfile*

LICENSE

.dockerignore
.editorconfig
.gitignore
.prettierignore
.eslintcache
.eslintignore
.history
.angular
.circleci
.vscode

.env
.env.local
**.sh
**.yaml

.eslintrc.js
.prettierrc.js
.stylelintrc.js


# styles
/src/styles/config/*
