// tailwindcss --------------------

@tailwind base;
@tailwind components;
@tailwind utilities;

// base --------------------

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  min-height: var(--app-height);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
